body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.info {
    display: flex;
    margin-bottom: 10px;
}

.info span {
    font-weight: bold;
    margin-right: 10px;
    color: #666;
}

.info:last-child {
    margin-bottom: 0;
}
